<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }} &mdash; {{ .Site.Params.description }}{{ end }}</title>
    {{ partial "head" . }}

    {{ partial "critical-styles" . }}
    {{ partial "styles" . }}
  </head>
  <body>
    <div class="container">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ if eq (getenv "NODE_ENV") "production" }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

    {{ partial "scripts" . }}
  </body>
</html>
