<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }} | {{ .Site.Params.description }}{{ end }}</title>
    {{ partial "head" . }}

    {{ partial "critical" . }}
    {{ partial "styles" . }}
  </head>
  <body>
    <div class="container">
      <div class="container__sidebar">
        Side content
      </div>
      <main class="container__main">
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>

    {{ partial "scripts" . }}

    {{ if eq (getenv "NODE_ENV") "production" }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </body>
</html>
