{
      "parser": "babel-eslint",
      "extends": "airbnb",
      "plugins": ["react", "jsx-a11y", "import"],
      "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
      },
      "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true,
          "generators": true,
          "experimentalObjectRestSpread": true,
        }
      },
      "settings": {
        "import/ignore": [
          "node_modules"
        ],
        "import/extensions": [".js"],
        "import/resolver": {
          "node": {
            "extensions": [".js", ".json"]
          }
        }
      },
      "rules": {
        "strict": 0,
        "no-console": 0,
        "react/jsx-filename-extension": 0
      }
    }
